* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.title-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tours {
  display: flex;
  gap: 30px;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.tour-item {
  width: 386px;
  height: 260px;
  max-width: 100%;
  border: 2px solid red;
  flex: 0 0 386px;
}
